<!DOCTYPE html>
<html>

<head>
    <% include ./includes/core-library %>
        <title>
            <%= title %>
        </title>
        <!-- Vex -->
        <link rel="stylesheet" href="/stylesheets/vex.min.css">
        <link rel="stylesheet" href="/stylesheets/vex-theme-wireframe.css">
        <script src="/javascripts/vex.combined.min.js"></script>
        <script>
            vex.defaultOptions.className = 'vex-theme-wireframe';
            var cl = <%- JSON.stringify(customerList) %>;
        </script>

        <link rel="stylesheet" href="/stylesheets/flat-ui.min.css">
</head>

<body>
    <div class="loader-parent">
        <div class="loader" style="border-top: 10px solid black;"></div>
    </div>
    <div id="login-page" class="container" style="width:970px !important;display:none;">
        <div class="login" style="margin-bottom:0;">
            <div class="login-screen" style="padding: 123px 199px 33px 199px;">
                <div class="login-form">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" placeholder="Nhập tài khoản" id="username">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" placeholder="Mật khẩu" id="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <a id="login-btn" class="btn btn-primary btn-lg btn-block" href="#">Đăng nhập</a>
                    <p class="text-center copy-right" style="color:#BDC3C7;margin-bottom:0;">Phát triển bởi <a target="_blank" href="https://www.facebook.com/davidbull931997">Phan Ngoc Lam</a> &copy;
                    </p>
                    <p class="text-center" style="color:#BDC3C7;margin-bottom:0;">Ý tưởng: <a target="_blank" href="https://www.facebook.com/Minhtan1520">Minh Tan</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="manage-page" style="display: none !important;">
        <!--Customer Table-->
        <div class="container">
            <div class="table-responsive" style="border: 2px solid #000;">
                <table class="table table-hover">
                    <!--FIXED TABLE HEAD - VISIBLE -->
                    <thead id="fixed-thead">
                        <tr>
                            <th style="border-bottom:0;" colspan="8">
                                <button id="add-new-btn" class="pull-right btn btn-success" type="button" style="border-radius:0px;">Thêm mới</button>
                                <div class="pull-right" id="search-bar" style="padding-left:0;padding-right:0;width:200px;">
                                    <div id="custom-search-input" style="padding-top:0;padding-bottom:0;border-radius:0;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Tìm khách hàng" style="font-weight:normal;" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="button" style="padding-top:0px;margin-top:0;">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th style="border-top:0;">Tên khách hàng</th>
                            <th style="border-top:0;">Điểm</th>
                            <th style="border-top:0;">Ngày cấp thẻ</th>
                            <th style="border-top:0;">Ngày hết hạn</th>
                            <th style="border-top:0;">Đã cấp</th>
                            <th style="border-top:0;">Lượt quay số</th>
                            <th style="border-top:0;">Mốc nhận quà</th>
                            <th style="border-top:0;">Thao tác</th>
                        </tr>
                    </thead>

                    <!--REAL TABLE HEAD - HIDDEN -->
                    <thead style="visibility:hidden;">
                        <tr>
                            <th style="border-bottom:0;" colspan="8">
                                <button id="add-new-btn" class="pull-right btn btn-success" type="button" style="border-radius:0px;">Thêm mới</button>
                                <div class="pull-right" id="search-bar" style="padding-left:0;padding-right:0;">
                                    <div id="custom-search-input" style="padding-top:0;padding-bottom:0;border-radius:0;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Tìm khách hàng" style="font-weight:normal;" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="button" style="padding-top:0px;margin-top:0;">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th style="border-top:0;">Tên khách hàng</th>
                            <th style="border-top:0;">Điểm</th>
                            <th style="border-top:0;">Ngày cấp thẻ</th>
                            <th style="border-top:0;">Ngày hết hạn</th>
                            <th style="border-top:0;">Đã cấp</th>
                            <th style="border-top:0;">Lượt quay số</th>
                            <th style="border-top:0;">Mốc nhận quà</th>
                            <th style="border-top:0;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="vue">
                        <tr v-for="customer in customerList" :id='customer._id'>
                            <td>
                                <p>{{ customer.username }}</p>
                            </td>
                            <td>
                                <p>{{ customer.playtime || 0 }}</p>
                            </td>
                            <td>
                                <p>{{ customer.release_card_day }}</p>
                            </td>
                            <td>
                                <p>{{ customer.expire_card_day }}</p>
                            </td>
                            <td>
                                <p>{{ customer.card_quantity || 0 }}</p>
                            </td>
                            <td>
                                <p>{{ customer.roll || 0 }}</p>
                            </td>
                            <td>
                                <input v-if="customer.reward[0] == 'true'" type="checkbox" :id="'reward30-'+customer._id" checked disabled style="cursor:default">
                                <input v-else type="checkbox" :id="'reward30-'+customer._id" disabled style="cursor:default">
                                <label :for="'reward30-'+customer._id">30</label>
                                <input v-if="customer.reward[1] == 'true'" type="checkbox" :id="'reward50-'+customer._id" checked disabled style="cursor:default">
                                <input v-else type="checkbox" :id="'reward50-'+customer._id" disabled style="cursor:default">
                                <label :for="'reward50-'+customer._id">50</label>
                                <input v-if="customer.reward[2] == 'true'" type="checkbox" :id="'reward70-'+customer._id" checked disabled style="cursor:default">
                                <input v-else type="checkbox" :id="'reward70-'+customer._id" disabled style="cursor:default">
                                <label :for="'reward70-'+customer._id">70</label>
                                <br>
                                <input v-if="customer.reward[3] == 'true'" type="checkbox" :id="'reward80-'+customer._id" checked disabled style="cursor:default">
                                <input v-else type="checkbox" :id="'reward80-'+customer._id" disabled style="cursor:default">
                                <label :for="'reward80-'+customer._id">80</label>
                                <input v-if="customer.reward[4] == 'true'" type="checkbox" :id="'reward100-'+customer._id" checked disabled style="cursor:default">
                                <input v-else type="checkbox" :id="'reward100-'+customer._id" disabled style="cursor:default">
                                <label :for="'reward100-'+customer._id">100</label>
                                <input v-if="customer.reward[5] == 'true'" type="checkbox" :id="'reward111-'+customer._id" checked disabled style="cursor:default">
                                <input v-else type="checkbox" :id="'reward111-'+customer._id" disabled style="cursor:default">
                                <label :for="'reward111-'+customer._id">111</label>
                            </td>
                            <td>
                                <a href="javascript://" v-on:click="saveUpdateCustomer(customer._id)" class="material-icons" style="text-decoration:none;color:green;display:none;">done</a>
                                <a href="javascript://" v-on:click="updateCustomer(customer._id)" class="material-icons" style="text-decoration:none;color:#000;">mode_edit</a>
                                <a href="javascript://" v-on:click="removeCustomer(customer._id)" class="material-icons" style="text-decoration:none;color:red;">close</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <% include ./includes/firebase-client %>
    <script src="/javascripts/browserify.client.js"></script>
    <script src="/javascripts/admin.min.js"></script>
    <script>
        var vue = new Vue({
            el: '#vue',
            data: {
                customerList:[]
            },
            methods: {
                removeCustomer: (_id) => {
                    removeCustomer(_id);
                },
                updateCustomer: (_id) => {
                    updateCustomer(_id);
                },
                saveUpdateCustomer: (_id) => {
                    saveUpdateCustomer(_id);
                }
            }
        });
    </script>
</body>

</html>