<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ./includes/head %>
</head>

<body>
  <div id="reg-page" class="container">
    <div class="col-xs-12">
      <form class="form-signin">
        <h3 class="form-signin-heading text-center">Please input user name to go to profile</h3>
        <label for="reg-username" class="sr-only">Username</label>
        <input id="reg-username" type="text" class="form-control" placeholder="Username">
        <button id="reg-btn" class="btn btn-lg btn-primary btn-block" type="button" style="margin-top:10px;"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
      </form>
      <!--<p class="text-center"><em>Developed by <a style="text-decoration:none;" href="https://www.facebook.com/davidbull931997" target="_blank"><mark style="background-color:#fcf8e3;color: #00B7FF;">Phan Ngoc Lam</mark></a></em></p>-->
      <p class="text-center" id="copy-right">Tuyet Ngoc Game Store &copy; </p>
    </div>
  </div>

  <script src="/javascripts/scripts.js"></script>
</body>

</html>